<%- include("partials/header"); -%>

<div class="container text-center">


    <div class="row">
    <div class="col-lg-6">
        <a href="https://www.amazon.in/?ie=UTF8&tag=googinprimeexpt5-21&ascsubtag=_k_CjwKCAjwx7GYBhB7EiwA0d8oe9_yOEvmwMztZ5erqea-Sq49B2N9hpErJS9fJnwBmXpvTkLiBB0LHxoC-D4QAvD_BwE_k_&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe9_yOEvmwMztZ5erqea-Sq49B2N9hpErJS9fJnwBmXpvTkLiBB0LHxoC-D4QAvD_BwE" alt="amazon"> <img src="images/amazon.gif" class="shop-img"></a>
    </div>
    <div class="col-lg-6">
        <a href="https://www.nykaa.com/?utm_content=ads&utm_source=GooglePaid&utm_medium=search&utm_campaign=Search_Nykaa&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe_IM5bSRzUUnUvfTbtqdQth4RuKJEzYsgMsPwoLLpDBobYOMo_xBchoCeXIQAvD_BwE" alt="NYKAA"> <img src="images/nykaa.jpg" class="shop-img"></a>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <a href="https://www.walmart.com/" alt="Walmart"> <img src="images/walmart-logo.gif" class="shop-img"></a>
    </div>
    <div class="col-lg-6">
        <a href="https://pharmeasy.in/?isSEM=true&&utm_source=google&utm_medium=cpc&utm_campaign=GSB_New_CX_FP&utm_adgroup=Core&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe0G9005PTAl_cCzzdeXkxss9mZ6QrCsDQBL2HtJB4E0i-Xwh82_EiRoCeN4QAvD_BwE" alt="pharmeasy"> <img src="images/pharmeasy.jpg" class="shop-img"></a>
    </div>
</div>

</div>

<%- include("partials/footer"); -%>